@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #1970c26c;
  overflow-x: hidden;
}

main {
  min-width: 100vw;
}

body * span {
  /* Conceito de Reset, sempre devemos utilizar */
  margin: 0;
  padding: 0;
}

header {
  font-size: 20px;
  text-align: center;
}

.box-1 {
  /* Responsável pelo Titulo principal do Blog */
  background-color: #1971c2;
  color: white;
  margin: 10px 120px 10px 120px;
  width: 1000px;
  padding: 1px;
  border-radius: 10px;
  border: 1px solid black;
  display: inline-block;
}

.box-2 {
  /* Responsável pa separação dos conteúdos em blocos */
  border-left: 8px #1971c2 solid;
  width: 100%;
  max-width: 980px;
  text-align: left;
  border-radius: 8px;
  margin: 25px;
  padding: 10px;
  background-color: rgba(249, 249, 249, 0.73);
}

.container {
  /* Aqui vamos estilizar o Forms. Inclui ele em um container para facilitar. */
  text-align: justify;
  padding: 5px 20px 5px 10px;
  margin: 10px;
  border: 1px solid #1971c2;
  border-radius: 10px;
}

.div-1 {
  width: 100%;
}

.color-1 {
  background: rgba(194, 193, 193, 0.415);
  border: 1px solid rgba(194, 193, 193, 0.415);
}

.color-2 {
  background: #1098ad;
  border: 1px solid rgba(194, 193, 193, 0.415);
}

.color-3 {
  color: #1971c2;
}

.button {
  margin: 10px 0px 5px 0px;
  width: 100%;
  height: 40px;
}

input {
  width: 98.7%;
  height: 40px;
}

.type {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width: 419px;
  height: 250px;
  background: #e0eaf4;
}

input:hover {
  background-color: white;
  border: 1px solid black;
}

.button:hover {
  border-color: black;
  background-color: #175963;
}
